crewai>=1.0.0
crewai-tools>=0.14.0
requests>=2.31.0
groq
python-dotenv
pypdf
fastapi
uvicorn[standard]
python-multipart
pydantic>=2.0.0
pydantic-settings
pyyaml
openai
appdirs
python-jose[cryptography]
bcrypt==4.0.1
sqlmodel
psycopg2-binary>=2.9.9
